<div class="d-flex justify-content-center mt-3">
  <div class="card shadow-sm w-100"
       style="max-width: 900px; border-radius: 16px;">

    <div class="card-body p-3">

      <div class="d-flex gap-2">

        <input
          type="text"
          class="form-control"
          [(ngModel)]="categoryName"
          placeholder="Enter a name for the new category">

        <button
          type="button"
          class="btn btn-primary px-4 d-flex align-items-center justify-content-center"
          (click)="createCategory()"
          [disabled]="isLoading || !isValidCategoryName">

          <i class="bi bi-plus-circle me-1"></i>

          {{ isLoading ? 'Creating...' : 'Create' }}
        </button>

      </div>

      @if (error) {
        <div class="text-danger small mt-2">
          {{ error }}
        </div>
      }

    </div>

  </div>
</div>
