<div class="container d-flex justify-content-center align-items-center min-vh-100">

  <div
    class="card shadow-sm w-100 text-center"
    style="max-width: 500px; border-radius: 16px;">

    <div class="card-body p-5">

      <div class="display-1 fw-bold text-secondary">
        404
      </div>

      <div class="fs-4 mb-2">
        Page not found
      </div>

      <div class="text-muted mb-4">
        The page you are looking for does not exist.
      </div>

      <button
        routerLink="/"
        class="btn btn-primary">
        Go Home
      </button>
    </div>
  </div>

</div>
