<app-task-create
  [categoryId]="categoryId"
  (created)="loadTasks()">
</app-task-create>

<app-task-list
  [pagedTasks]="pagedTasks"
  [isLoading]="isLoadingTasks"
  [isError]="isErrorLoadingTasks"
  [categoryName]="categoryName"
  (deleted)="onDelete($event)"
  (edit)="onEdit($event)"
  (toggle)="onToggle($event)">
</app-task-list>

<app-edit-task-modal
  [isOpen]="isEditOpen"
  [task]="selectedTask"
  (close)="closeEdit()"
  (save)="onSaveTask($event)">
</app-edit-task-modal>

<app-pagination
  [page]="currentPage"
  [totalPages]="pagedTasks?.totalPages ?? 1"
  (pageChange)="onPageChange($event)">
</app-pagination>
