@if(totalPages > 1) {
  <div class="d-flex justify-content-center mt-3">

    <nav>
      <ul class="pagination pagination-sm mb-0">

        <li class="page-item" [class.disabled]="page === 1">
          <button class="page-link" (click)="goTo(page - 1)">
            ‹
          </button>
        </li>

        @for (p of pages; track $index) {

          @if (p === '...') {
            <li class="page-item disabled">
              <span class="page-link">...</span>
            </li>
          } @else {
            <li class="page-item" [class.active]="p === page">
              <button class="page-link" (click)="goTo(p)">
                {{ p }}
              </button>
            </li>
          }

        }

        <li class="page-item" [class.disabled]="page === totalPages">
          <button class="page-link" (click)="goTo(page + 1)">
            ›
          </button>
        </li>

      </ul>
    </nav>

  </div>
}
